USE [master]
GO
/****** Object:  Database [PRODUCTITOS]    Script Date: 16/09/2025 20:18:14 ******/
CREATE DATABASE [PRODUCTITOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRODUCTITOS', FILENAME = N'C:\SQL DATA\PRODUCTITOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRODUCTITOS_log', FILENAME = N'C:\SQL DATA\PRODUCTITOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRODUCTITOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRODUCTITOS]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 16/09/2025 20:18:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[nombre_prod] [nvarchar](max) NOT NULL,
	[precio] [float] NOT NULL,
	[volumen] [nvarchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 16/09/2025 20:18:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[APELLIDO] [nvarchar](max) NOT NULL,
	[MAIL] [nvarchar](max) NOT NULL,
	[CONTRASEÑA] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_ID]  DEFAULT ((1)) FOR [ID]
GO
USE [master]
GO
